html,
body {
  height: 100%;
}

.wrapper {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  background-size: cover;
}

.form {
  margin-bottom: 20px;
}

.form input {
  margin-bottom: 10px;
}

.container {
  padding-top: 100px;
}

.card {
  display: inline-block;
  border: none;
  cursor: pointer;
}

.card p {
  border: 2px inset #007bff;
  border-radius: 15%;
  padding: 15px;
  margin: 0;
}
